body{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    width: 80%;
    padding: 0;
    margin-bottom: 500px;
}
.head-line {
    padding: 10px;
    text-align: center;
   
}   
h1 {
    text-align: center;
    margin: 10px;
    font-size: 50px;
    padding: 0;
}

.social-link {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap:60px;
    width: 1000px;
}
h2{
    margin: 0;
    padding:0 50px;
}
.divider {
    border: none;
    border-bottom: 2px solid black;
    margin: 5px 50px;
}
.objective {
    margin: 2px;
    padding: 0 50px;
}

.education {
    margin: 2px;
    padding: 0 65px;
        
}

.education > li {
    margin-bottom: 24px;
}

.small-divider {
    width: 2px;
    height: 200px;
    background-color: black;
    margin-left: 410px;
    margin-top: -230px;
    margin-bottom: 165px;
}

.side {
    margin-left: 370px; 
    margin-top: -4px;
}

.skills {
    margin-left: 398px;
    margin-top: -40px;
}

.skills > li {
    margin-bottom: 9px;
}

.bold {
    font-weight: bold;
}
