* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}
.box {
    border: 5px solid black;
    width: 80%;
    padding: 0;
    margin: 0px 10% 0px 10%;
    justify-content: center;
    position: relative;
}
.head-line {
    padding: 10px;
    text-align: center;
   
}   
h1 {
    text-align: center;
    margin: 10px;
    font-size: 50px;
    padding: 0;
}

.social-link {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap:60px;
    
}
h2{
    margin: 0;
    padding:0 50px;
}
.divider {
    border: none;
    border-bottom: 2px solid black;
    margin: 5px 50px;
}
.objective {
    margin: 2px;
    padding: 0 50px;
}

.education {
    display: flex;
    margin: 2px 50px 2px 50px;   
    padding: 0 15px; 
}

.skills {
    margin: 2px 30px 2px 50px;
    padding: 0 15px;
}
.bold {
    font-weight: bold;
}

.projects {
    padding: 0 15px;
    margin: 2px 50px 2px 50px;
}
.part {
    display: flex;
    flex-direction: row;

}

#Certification {
    padding: 0 20px;
    margin: 2px 50px 0px 50px;
    
}

#sider {
    width: 2px;
    height: 131px;
    background-color: black;
    position: absolute;
    transform: translate(455px,-133px);
}

#side {
    margin: 2px 100px 0px 475px;
    position: absolute;
    top:600px;
    
}

.side-topic {
    padding: 0;
    margin: 0;
}

#intern {
    padding: 2px;
    margin: 0;
}

.divider-last {
    border-bottom: 2px solid black;
    margin: 5px 50px;
    
}

.last {
    margin: 2px 50px 2px 50px;
    padding: 0 ;
    
}


